{% extends "default/index.html.twig" %}

{% block body %}
<div class="content-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {# left menu #}
                {% include 'default/components/left_menu.html.twig' %}
            </div>
            <div class="col-md-9">
                <div class="main-slider" style="background: url('{{ asset('img/korpu.jpg')}}');background-repeat: no-repeat;background-position: right;">
                    {# <img src="{{ asset('img/korpu.jpg')}}" /> #}
                </div>
            </div>
            <script type="text/javascript">
                $('#slideshow0').owlCarousel({
                    items: 6,
                    autoPlay: 5000,
                    singleItem: true,
                    navigation: true,
                    navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>',
                        '<i class="fa fa-chevron-right fa-5x"></i>'
                    ],
                    pagination: true,
                    transitionStyle: "fade"
                });
            </script>
            <script type="text/javascript">
                // Can also be used with $(document).ready()
                $(window).load(function () {
                    $("#spinner").fadeOut("slow");
                });
            </script>
            <div class="subbanner-cms1">
                <div class="subbanner1"><a href="#"><img src="image/catalog/sub1_new.jpg" alt="" class="img-responsive"></a></div>
                <div class="subbanner2"><a href="#"><img src="image/catalog/sub2_new.jpg" alt="" class="img-responsive"></a></div>
            </div>
            {# <div class="servicetop-cms">
                <div class="service">
                    <div class="serviceblock1 serviceblock clearfix">
                        <div class="title">
                            <div class="title">Pulsuz çatdırılma</div>
                            <div class="subtitle">300 azn və daha çox</div>
                        </div>
                    </div>
                    <div class="serviceblock2 serviceblock clearfix">
                        <div class="title">dəyişmək və zəmanət</div>
                        <div class="subtitle">geri qaytarmaq İmkanı</div>
                    </div>
                    <div class="serviceblock3 serviceblock clearfix">
                        <div class="title">Online dəstək</div>
                        <div class="subtitle">+994 (12) 344 57 00<br></div>
                    </div>
                    <div class="serviceblock4 serviceblock clearfix">
                        <div class="title">Qapıda ödəmə</div>
                        <div class="subtitle">nağd və bank kartları İlə</div>
                    </div>
                </div>
            </div> #}
        </div>
    </div>
</div>
<div class="container">
    <div class="row home_row">
        <aside id="column-left" class="col-sm-3 hidden-xs">
            {# <div class="service-banner">
                <div class="box-heading">Üstünlüklərimiz</div>
                <div class="box-content">
                    <div class="ser-banner banner1">
                        <div class="round_img">
                            <img src="/image/catalog/icon_5.png" alt=""></div>
                        <div class="ser-text1">Büdcəyə Qənaət</div>
                        <div class="ser-text3"></div>
                    </div>
                    <div class="ser-banner banner2">
                        <div class="round_img">
                            <img src="/image/catalog/icon_4.png" alt=""></div>
                        <div class="ser-text1">Zəmanət</div>
                        <div class="ser-text3"><br></div>
                    </div>
                    <div class="ser-banner banner3">
                        <div class="round_img">
                            <img src="/image/catalog/icon_3.png" alt=""></div>
                        <div class="ser-text1">Online sifariş</div>
                        <div class="ser-text3"></div>
                    </div>
                    <div class="ser-banner banner4">
                        <div class="round_img">
                            <img src="/image/catalog/icon_2.png" alt=""></div>
                        <div class="ser-text1">Çatdırılma</div>
                        <div class="ser-text3"></div>
                    </div>
                    <div class="ser-banner banner5">
                        <div class="round_img">
                            <img src="/image/catalog/icon_1.png" alt=""></div>
                        <div class="ser-text1">Quraşdırılma</div>
                        <div class="ser-text3"></div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-heading">Məlumat</div>
                <div class="list-group">
                    <a class="list-group-item" href="http://masalmebel.az/index.php?route=information/information&amp;information_id=7">Əlaqə</a>
                    <a class="list-group-item" href="http://masalmebel.az/index.php?route=information/information&amp;information_id=4">Haqqımızda</a>
                    <a class="list-group-item" href="http://masalmebel.az/index.php?route=information/information&amp;information_id=6">Çatdırılma</a>
                    <a class="list-group-item" href="http://masalmebel.az/index.php?route=information/information&amp;information_id=3">Məxfilik
                        siyasəti</a>
                    <a class="list-group-item" href="http://masalmebel.az/index.php?route=information/information&amp;information_id=5">İstifadə
                        şərtləri</a>
                    <a class="list-group-item" href="http://masalmebel.az/index.php?route=information/contact">Əlaqə</a>
                    <a class="list-group-item" href="http://masalmebel.az/index.php?route=information/sitemap">Sayt
                        xəritəsi</a>
                </div>
            </div>
            <div id="banner0" class="single-banner">
                <div class="item">
                    <img src="http://masalmebel.az/image/cache/catalog/1x-270x290-270x290.jpg" alt="22" class="img-responsive" />
                </div>
            </div>
            <script type="text/javascript">
                <!--
                $('.bannercarousel').owlCarousel({
                    items: 1,
                    autoPlay: 3000,
                    singleItem: true,
                    navigation: false,
                    pagination: true,
                    transitionStyle: 'fade'
                });
                -->
            </script>
            <div class="box special">
                <div class="box-heading">Xüsusi təkliflər</div>
                <div class="box-content">
                    <div class="box-product productbox-grid" id="special-grid">
                        <div class="product-items">
                            <div class="product-block product-thumb transition">
                                <div class="product-block-inner">
                                    <div class="image">
                                        <a href="http://masalmebel.az/index.php?route=product/product&amp;product_id=221">
                                            <img src="http://masalmebel.az/image/cache/catalog/Masa_stullar/masa_stul025-cr-76x100.jpg"
                                                title="Masa və stullar" alt="Masa və stullar" class="img-responsive" /></a>
                                        <span class="saleicon sale">Sale</span>
                                        <div class="button-group">
                                            <button type="button" class="addtocart" onclick="cart.add('221');"><i class="fa fa-shopping-cart"></i><span
                                                    class="hidden-xs hidden-sm hidden-md">Səbətə at</span></button>
                                            <button class="wishlist" type="button" data-toggle="tooltip" title="Arzu siyahısına əlavə et"
                                                onclick="wishlist.add('221');"><i class="fa fa-heart"></i></button>
                                            <button class="compare" type="button" data-toggle="tooltip" title="Müqayisə et"
                                                onclick="compare.add('221');"><i class="fa fa-exchange"></i></button>
                                        </div>
                                    </div>
                                    <div class="product-details">
                                        <div class="caption">
                                            <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;product_id=221">Masa
                                                    və stullar</a></h4>
                                            <p class="price">
                                                <span class="price-new">360 <span class="manat">M</span></span> <span
                                                    class="price-old">460 <span class="manat">M</span></span>
                                            </p>
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>
                                            <div class="button-group">
                                                <button type="button" class="addtocart" onclick="cart.add('221');"><i
                                                        class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                        at</span></button>
                                                <button class="wishlist" type="button" data-toggle="tooltip" title="Arzu siyahısına əlavə et"
                                                    onclick="wishlist.add('221');"><i class="fa fa-heart"></i></button>
                                                <button class="compare" type="button" data-toggle="tooltip" title="Müqayisə et"
                                                    onclick="compare.add('221');"><i class="fa fa-exchange"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-items">
                            <div class="product-block product-thumb transition">
                                <div class="product-block-inner">
                                    <div class="image">
                                        <a href="http://masalmebel.az/index.php?route=product/product&amp;product_id=76">
                                            <img src="http://masalmebel.az/image/cache/catalog/TV bölmələri/masalmebel_113-cr-76x100.jpg"
                                                title="TV bölmələri" alt="TV bölmələri" class="img-responsive" /></a>
                                        <span class="saleicon sale">Sale</span>
                                        <div class="button-group">
                                            <button type="button" class="addtocart" onclick="cart.add('76');"><i class="fa fa-shopping-cart"></i><span
                                                    class="hidden-xs hidden-sm hidden-md">Səbətə at</span></button>
                                            <button class="wishlist" type="button" data-toggle="tooltip" title="Arzu siyahısına əlavə et"
                                                onclick="wishlist.add('76');"><i class="fa fa-heart"></i></button>
                                            <button class="compare" type="button" data-toggle="tooltip" title="Müqayisə et"
                                                onclick="compare.add('76');"><i class="fa fa-exchange"></i></button>
                                        </div>
                                    </div>
                                    <div class="product-details">
                                        <div class="caption">
                                            <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;product_id=76">TV
                                                    bölmələri</a></h4>
                                            <p class="price">
                                                <span class="price-new">250 <span class="manat">M</span></span> <span
                                                    class="price-old">350 <span class="manat">M</span></span>
                                            </p>
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>
                                            <div class="button-group">
                                                <button type="button" class="addtocart" onclick="cart.add('76');"><i
                                                        class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                        at</span></button>
                                                <button class="wishlist" type="button" data-toggle="tooltip" title="Arzu siyahısına əlavə et"
                                                    onclick="wishlist.add('76');"><i class="fa fa-heart"></i></button>
                                                <button class="compare" type="button" data-toggle="tooltip" title="Müqayisə et"
                                                    onclick="compare.add('76');"><i class="fa fa-exchange"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="special_default_width" style="display:none; visibility:hidden"></span>
            <div id="banner1" class="single-banner">
                <div class="item">
                    <img src="http://masalmebel.az/image/cache/catalog/2211-270x400.jpg" alt="baner" class="img-responsive" />
                </div>
            </div>
            <script type="text/javascript">
                <!--
                $('.bannercarousel').owlCarousel({
                    items: 1,
                    autoPlay: 3000,
                    singleItem: true,
                    navigation: false,
                    pagination: true,
                    transitionStyle: 'fade'
                });
                -->
            </script> #}
        </aside>
        <div id="content" class="col-sm-9">
            {# hometabs #}

            <div class="subbanner-cms3">
                <div class="subbanner3">
                    {# <div class="subbannercmspart1">
                        <div class="subbanner-inner"><a href="#"><img src="image/catalog/sub3.jpg" alt="" class="img-responsive"></a>
                            <div class="banner-content">
                                <div class="banner-text1">Xudaferin Lepka</div>
                                <div class="banner-text2">RAHATLIQDIR</div>
                            </div>
                        </div>
                    </div>
                    <div class="subbannercmspart2">
                        <div class="subbanner-inner"><a href="#"><img src="image/catalog/sub4.jpg" alt="" class="img-responsive"></a>
                            <div class="banner-content">
                                <div class="banner-text1">Xudaferin Lepka<br></div>
                                <div class="banner-text2">EVDƏ İSTİRAHƏT YAŞADIR</div>
                            </div>
                        </div>
                    </div> #}
                    <div class="subbannercmspart3">
                        <div class="subbanner-inner">
                            <div class="inner-content">
                                <div class="banner-content">
                                    <div class="banner-text1">GENİŞ ÇEŞİD, RAHAT SEÇİM <span> Xudaferin-Lepka.az</span></div>
                                    <div class="banner-text2">UCUZU BAHA ALMAYIM, KEYFİYYƏTİ UCUZ ALIN</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box featured">
                    <ul class="breadcrumb">
                        <li><a href="http://masalmebel.az/index.php?route=common/home"><i class="fa fa-home"></i></a></li>
                        <li><a href="http://masalmebel.az/index.php?route=product/category&amp;path=87">Qonaq otağı</a></li>
                    </ul>
                    <h2 class="page-title">Qonaq otağı</h2>

                    {# <div class="category_filter">
                        <div class="col-md-4 btn-list-grid">
                            <div class="btn-group">
                                <button type="button" id="grid-view" class="btn btn-default grid active" data-toggle="tooltip"
                                    title="" data-original-title="Cədvəl"><i class="fa fa-th"></i></button>
                                <button type="button" id="list-view" class="btn btn-default list" data-toggle="tooltip"
                                    title="" data-original-title="Siyahı"><i class="fa fa-th-list"></i></button>
                            </div>
                        </div>
                        <div class="compare-total"><a href="http://masalmebel.az/index.php?route=product/compare" id="compare-total">Məhsul
                                müqayisəsi (0)</a></div>
                        <div class="pagination-right">
                            <div class="sort-by-wrapper">
                                <div class="col-md-2 text-right sort-by">
                                    <label class="control-label" for="input-sort">Sırala:</label>
                                </div>
                                <div class="col-md-3 text-right sort">
                                    <select id="input-sort" class="form-control hasCustomSelect" onchange="location = this.value;"
                                        style="-webkit-appearance: menulist-button; width: 150px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
                                        <option value="http://masalmebel.az/index.php?route=product/category&amp;path=87&amp;sort=p.sort_order&amp;order=ASC"
                                            selected="selected">Əsas</option>
                                        <option value="http://masalmebel.az/index.php?route=product/category&amp;path=87&amp;sort=pd.name&amp;order=ASC">Ad
                                            (A - Z)</option>
                                        <option value="http://masalmebel.az/index.php?route=product/category&amp;path=87&amp;sort=pd.name&amp;order=DESC">Ad
                                            (Z - A)</option>
                                        <option value="http://masalmebel.az/index.php?route=product/category&amp;path=87&amp;sort=p.price&amp;order=ASC">Qiymət
                                            (Aşağıdan &gt; Yuxarıya)</option>
                                        <option value="http://masalmebel.az/index.php?route=product/category&amp;path=87&amp;sort=p.price&amp;order=DESC">Qiymət
                                            (Yuxarıdan &gt; Aşağıya)</option>
                                        <option value="http://masalmebel.az/index.php?route=product/category&amp;path=87&amp;sort=rating&amp;order=DESC">Reytinq
                                            (Yuxarı)</option>
                                        <option value="http://masalmebel.az/index.php?route=product/category&amp;path=87&amp;sort=rating&amp;order=ASC">Reytinq
                                            (Aşağı)</option>
                                        <option value="http://masalmebel.az/index.php?route=product/category&amp;path=87&amp;sort=p.model&amp;order=ASC">Model
                                            (A - Z)</option>
                                        <option value="http://masalmebel.az/index.php?route=product/category&amp;path=87&amp;sort=p.model&amp;order=DESC">Model
                                            (Z - A)</option>
                                    </select><span class="customSelect form-control" style="display: inline-block;"><span
                                            class="customSelectInner" style="width: 124px; display: inline-block;">Əsas</span></span>
                                </div>
                            </div>
                            <div class="show-wrapper">
                                <div class="col-md-1 text-right show">
                                    <label class="control-label" for="input-limit">Göstər:</label>
                                </div>
                                <div class="col-md-2 text-right limit">
                                    <select id="input-limit" class="form-control hasCustomSelect" onchange="location = this.value;"
                                        style="-webkit-appearance: menulist-button; width: 100px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
                                        <option value="http://masalmebel.az/index.php?route=product/category&amp;path=87&amp;limit=15"
                                            selected="selected">15</option>
                                        <option value="http://masalmebel.az/index.php?route=product/category&amp;path=87&amp;limit=25">25</option>
                                        <option value="http://masalmebel.az/index.php?route=product/category&amp;path=87&amp;limit=50">50</option>
                                        <option value="http://masalmebel.az/index.php?route=product/category&amp;path=87&amp;limit=75">75</option>
                                        <option value="http://masalmebel.az/index.php?route=product/category&amp;path=87&amp;limit=100">100</option>
                                    </select><span class="customSelect form-control" style="display: inline-block;"><span
                                            class="customSelectInner" style="width: 74px; display: inline-block;">15</span></span>
                                </div>
                            </div>
                        </div>
                    </div> #}

                    <div class="row cat_prod">
                        <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <div class="product-block product-thumb">
                                <div class="product-block-inner">

                                    <div class="image">
                                        <a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=112">
                                            <img src="http://masalmebel.az/image/cache/catalog/qonaq dəsti/masalmebel_045-cr-215x161.jpg"
                                                title="Bianca" alt="Bianca" class="img-responsive"></a>


                                    </div>

                                    <div class="product-details">


                                        <div class="caption">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>

                                            <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=112">Bianca</a></h4>
                                            <div class="rating list-rate">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>
                                            <p class="desc">Şkaf-Vitrin 2 ədəd. 1680x600x460Komod. 1450x1670x460TV
                                                altlığı. 1600x1380x460Masa. 780x1605(2000)x89..</p>

                                            <p class="price">
                                                2000 <span class="manat">M</span> </p>


                                            <div class="button-group">
                                                <button type="button" class="addtocart" onclick="cart.add('112', '1');"><i
                                                        class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                        at</span></button>
                                                <button type="button" class="wishlist" data-toggle="tooltip" title=""
                                                    onclick="wishlist.add('112');" data-original-title="Arzu siyahısına əlavə et"><i
                                                        class="fa fa-heart"></i></button>
                                                <button type="button" class="compare" data-toggle="tooltip" title=""
                                                    onclick="compare.add('112');" data-original-title="Müqayisə et"><i
                                                        class="fa fa-exchange"></i></button>
                                                <div class="quickview-button" data-toggle="tooltip" title=""
                                                    data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=112"><i
                                                            class="fa fa-eye" aria-hidden="true"></i></a></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <div class="product-block product-thumb">
                                <div class="product-block-inner">

                                    <div class="image">
                                        <a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=367">
                                            <img src="http://masalmebel.az/image/cache/catalog/qonaq_otagi/qonaq021-cr-215x161.jpg"
                                                title="Cizgi" alt="Cizgi" class="img-responsive reg-image">
                                            <img class="img-responsive hover-image" src="http://masalmebel.az/image/cache/catalog/qonaq_otagi/qonaq020-cr-215x161.jpg"
                                                title="Cizgi" alt="Cizgi">
                                        </a>


                                    </div>

                                    <div class="product-details">


                                        <div class="caption">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>

                                            <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=367">Cizgi</a></h4>
                                            <div class="rating list-rate">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>
                                            <p class="desc">Şkaf-Vitrin 2 ədəd. 1680x600x460 Komod. 1450x1670x460 TV
                                                altlığı. 1600x1380x460 Masa. 780x1605(2000)..</p>

                                            <p class="price">
                                                1650 <span class="manat">M</span> </p>


                                            <div class="button-group">
                                                <button type="button" class="addtocart" onclick="cart.add('367', '1');"><i
                                                        class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                        at</span></button>
                                                <button type="button" class="wishlist" data-toggle="tooltip" title=""
                                                    onclick="wishlist.add('367');" data-original-title="Arzu siyahısına əlavə et"><i
                                                        class="fa fa-heart"></i></button>
                                                <button type="button" class="compare" data-toggle="tooltip" title=""
                                                    onclick="compare.add('367');" data-original-title="Müqayisə et"><i
                                                        class="fa fa-exchange"></i></button>
                                                <div class="quickview-button" data-toggle="tooltip" title=""
                                                    data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=367"><i
                                                            class="fa fa-eye" aria-hidden="true"></i></a></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <div class="product-block product-thumb">
                                <div class="product-block-inner">

                                    <div class="image">
                                        <a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=111">
                                            <img src="http://masalmebel.az/image/cache/catalog/qonaq dəsti/masalmebel_044-cr-215x161.jpg"
                                                title="Cizgi-1" alt="Cizgi-1" class="img-responsive"></a>


                                    </div>

                                    <div class="product-details">


                                        <div class="caption">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>

                                            <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=111">Cizgi-1</a></h4>
                                            <div class="rating list-rate">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>
                                            <p class="desc">Şkaf-Vitrin 2 ədəd. 1680x600x460Komod. 1450x1670x460TV
                                                altlığı. 1600x1380x460Masa. 780x1605(2000)x89..</p>

                                            <p class="price">
                                                1650 <span class="manat">M</span> </p>


                                            <div class="button-group">
                                                <button type="button" class="addtocart" onclick="cart.add('111', '1');"><i
                                                        class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                        at</span></button>
                                                <button type="button" class="wishlist" data-toggle="tooltip" title=""
                                                    onclick="wishlist.add('111');" data-original-title="Arzu siyahısına əlavə et"><i
                                                        class="fa fa-heart"></i></button>
                                                <button type="button" class="compare" data-toggle="tooltip" title=""
                                                    onclick="compare.add('111');" data-original-title="Müqayisə et"><i
                                                        class="fa fa-exchange"></i></button>
                                                <div class="quickview-button" data-toggle="tooltip" title=""
                                                    data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=111"><i
                                                            class="fa fa-eye" aria-hidden="true"></i></a></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <div class="product-block product-thumb">
                                <div class="product-block-inner">

                                    <div class="image">
                                        <a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=110">
                                            <img src="http://masalmebel.az/image/cache/catalog/qonaq dəsti/masalmebel_042-cr-215x161.jpg"
                                                title="Dream" alt="Dream" class="img-responsive"></a>


                                    </div>

                                    <div class="product-details">


                                        <div class="caption">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>

                                            <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=110">Dream</a></h4>
                                            <div class="rating list-rate">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>
                                            <p class="desc">Şkaf-Vitrin 2 ədəd. 1680x600x460Komod. 1450x1670x460TV
                                                altlığı. 1600x1380x460Masa. 780x1605(2000)x89..</p>

                                            <p class="price">
                                                2000 <span class="manat">M</span> </p>


                                            <div class="button-group">
                                                <button type="button" class="addtocart" onclick="cart.add('110', '1');"><i
                                                        class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                        at</span></button>
                                                <button type="button" class="wishlist" data-toggle="tooltip" title=""
                                                    onclick="wishlist.add('110');" data-original-title="Arzu siyahısına əlavə et"><i
                                                        class="fa fa-heart"></i></button>
                                                <button type="button" class="compare" data-toggle="tooltip" title=""
                                                    onclick="compare.add('110');" data-original-title="Müqayisə et"><i
                                                        class="fa fa-exchange"></i></button>
                                                <div class="quickview-button" data-toggle="tooltip" title=""
                                                    data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=110"><i
                                                            class="fa fa-eye" aria-hidden="true"></i></a></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <div class="product-block product-thumb">
                                <div class="product-block-inner">

                                    <div class="image">
                                        <a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=366">
                                            <img src="http://masalmebel.az/image/cache/catalog/belarusiya_yeni/Falkone_ID366-cr-215x161.jpg"
                                                title="Falkone " alt="Falkone " class="img-responsive reg-image">
                                            <img class="img-responsive hover-image" src="http://masalmebel.az/image/cache/catalog/qonaq_otagi/qonaq019-cr-215x161.jpg"
                                                title="Falkone " alt="Falkone ">
                                        </a>


                                    </div>

                                    <div class="product-details">


                                        <div class="caption">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>

                                            <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=366">Falkone
                                                </a></h4>
                                            <div class="rating list-rate">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>
                                            <p class="desc">Şkaf-vitrin 2002х727х411 Şkaf -vitrin 2002х1027х411 TV
                                                altlığı 642х1604х457 Jurnal masa&nbsp;..</p>

                                            <p class="price">
                                                6050 <span class="manat">M</span> </p>


                                            <div class="button-group">
                                                <button type="button" class="addtocart" onclick="cart.add('366', '1');"><i
                                                        class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                        at</span></button>
                                                <button type="button" class="wishlist" data-toggle="tooltip" title=""
                                                    onclick="wishlist.add('366');" data-original-title="Arzu siyahısına əlavə et"><i
                                                        class="fa fa-heart"></i></button>
                                                <button type="button" class="compare" data-toggle="tooltip" title=""
                                                    onclick="compare.add('366');" data-original-title="Müqayisə et"><i
                                                        class="fa fa-exchange"></i></button>
                                                <div class="quickview-button" data-toggle="tooltip" title=""
                                                    data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=366"><i
                                                            class="fa fa-eye" aria-hidden="true"></i></a></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <div class="product-block product-thumb">
                                <div class="product-block-inner">

                                    <div class="image">
                                        <a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=100">
                                            <img src="http://masalmebel.az/image/cache/catalog/qonaq dəsti/masalmebel_018-cr-215x161.jpg"
                                                title="Gardinya" alt="Gardinya" class="img-responsive"></a>


                                    </div>

                                    <div class="product-details">


                                        <div class="caption">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>

                                            <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=100">Gardinya</a></h4>
                                            <div class="rating list-rate">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>
                                            <p class="desc">Şkaf-Vitrin 1680x600x460Komod. 1450x1670x460TV altlığı.
                                                1600x1380x460Masa. 780x1605(2000)x895Stul 6 ..</p>

                                            <p class="price">
                                                2000 <span class="manat">M</span> </p>


                                            <div class="button-group">
                                                <button type="button" class="addtocart" onclick="cart.add('100', '1');"><i
                                                        class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                        at</span></button>
                                                <button type="button" class="wishlist" data-toggle="tooltip" title=""
                                                    onclick="wishlist.add('100');" data-original-title="Arzu siyahısına əlavə et"><i
                                                        class="fa fa-heart"></i></button>
                                                <button type="button" class="compare" data-toggle="tooltip" title=""
                                                    onclick="compare.add('100');" data-original-title="Müqayisə et"><i
                                                        class="fa fa-exchange"></i></button>
                                                <div class="quickview-button" data-toggle="tooltip" title=""
                                                    data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=100"><i
                                                            class="fa fa-eye" aria-hidden="true"></i></a></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <div class="product-block product-thumb">
                                <div class="product-block-inner">

                                    <div class="image">
                                        <a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=365">
                                            <img src="http://masalmebel.az/image/cache/catalog/qonaq_otagi/qonaq017-cr-215x161.jpg"
                                                title="Karizma " alt="Karizma " class="img-responsive reg-image">
                                            <img class="img-responsive hover-image" src="http://masalmebel.az/image/cache/catalog/qonaq_otagi/qonaq016-cr-215x161.jpg"
                                                title="Karizma " alt="Karizma ">
                                        </a>


                                    </div>

                                    <div class="product-details">


                                        <div class="caption">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>

                                            <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=365">Karizma
                                                </a></h4>
                                            <div class="rating list-rate">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>
                                            <p class="desc">Şkaf-Vitrin 2 ədəd. 1725x605x440 Komod. 1450x1800x440 TV
                                                altlığı. 1510x1380x440 Masa 780x1605(2001)x..</p>

                                            <p class="price">
                                                1650 <span class="manat">M</span> </p>


                                            <div class="button-group">
                                                <button type="button" class="addtocart" onclick="cart.add('365', '1');"><i
                                                        class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                        at</span></button>
                                                <button type="button" class="wishlist" data-toggle="tooltip" title=""
                                                    onclick="wishlist.add('365');" data-original-title="Arzu siyahısına əlavə et"><i
                                                        class="fa fa-heart"></i></button>
                                                <button type="button" class="compare" data-toggle="tooltip" title=""
                                                    onclick="compare.add('365');" data-original-title="Müqayisə et"><i
                                                        class="fa fa-exchange"></i></button>
                                                <div class="quickview-button" data-toggle="tooltip" title=""
                                                    data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=365"><i
                                                            class="fa fa-eye" aria-hidden="true"></i></a></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <div class="product-block product-thumb">
                                <div class="product-block-inner">

                                    <div class="image">
                                        <a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=364">
                                            <img src="http://masalmebel.az/image/cache/catalog/qonaq_otagi/qonaq015-cr-215x161.jpg"
                                                title="Karmen" alt="Karmen" class="img-responsive"></a>


                                    </div>

                                    <div class="product-details">


                                        <div class="caption">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>

                                            <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=364">Karmen</a></h4>
                                            <div class="rating list-rate">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>
                                            <p class="desc">Şkaf-Vitrin 2 ədəd. 1700x595x440 Komod. 1410x1800x440 TV
                                                altlığı. 1510x1380x440 Masa.780x1605(2000)x..</p>

                                            <p class="price">
                                                1050 <span class="manat">M</span> </p>


                                            <div class="button-group">
                                                <button type="button" class="addtocart" onclick="cart.add('364', '1');"><i
                                                        class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                        at</span></button>
                                                <button type="button" class="wishlist" data-toggle="tooltip" title=""
                                                    onclick="wishlist.add('364');" data-original-title="Arzu siyahısına əlavə et"><i
                                                        class="fa fa-heart"></i></button>
                                                <button type="button" class="compare" data-toggle="tooltip" title=""
                                                    onclick="compare.add('364');" data-original-title="Müqayisə et"><i
                                                        class="fa fa-exchange"></i></button>
                                                <div class="quickview-button" data-toggle="tooltip" title=""
                                                    data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=364"><i
                                                            class="fa fa-eye" aria-hidden="true"></i></a></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <div class="product-block product-thumb">
                                <div class="product-block-inner">

                                    <div class="image">
                                        <a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=363">
                                            <img src="http://masalmebel.az/image/cache/catalog/qonaq_otagi/qonaq014-cr-215x161.jpg"
                                                title="Kioto " alt="Kioto " class="img-responsive reg-image">
                                            <img class="img-responsive hover-image" src="http://masalmebel.az/image/cache/catalog/qonaq_otagi/qonaq012-cr-215x161.jpg"
                                                title="Kioto " alt="Kioto ">
                                        </a>


                                    </div>

                                    <div class="product-details">


                                        <div class="caption">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>

                                            <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=363">Kioto
                                                </a></h4>
                                            <div class="rating list-rate">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>
                                            <p class="desc">Şkaf-vitrin 2 ədəd&nbsp;1998х835х440 TV
                                                altlığı&nbsp;481x1298х450 Divar rəfi 1210х900х237 Dekorativ ..</p>

                                            <p class="price">
                                                5450 <span class="manat">M</span> </p>


                                            <div class="button-group">
                                                <button type="button" class="addtocart" onclick="cart.add('363', '1');"><i
                                                        class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                        at</span></button>
                                                <button type="button" class="wishlist" data-toggle="tooltip" title=""
                                                    onclick="wishlist.add('363');" data-original-title="Arzu siyahısına əlavə et"><i
                                                        class="fa fa-heart"></i></button>
                                                <button type="button" class="compare" data-toggle="tooltip" title=""
                                                    onclick="compare.add('363');" data-original-title="Müqayisə et"><i
                                                        class="fa fa-exchange"></i></button>
                                                <div class="quickview-button" data-toggle="tooltip" title=""
                                                    data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=363"><i
                                                            class="fa fa-eye" aria-hidden="true"></i></a></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <div class="product-block product-thumb">
                                <div class="product-block-inner">

                                    <div class="image">
                                        <a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=362">
                                            <img src="http://masalmebel.az/image/cache/catalog/qonaq_otagi/qonaq011-cr-215x161.jpg"
                                                title="Milano" alt="Milano" class="img-responsive"></a>


                                    </div>

                                    <div class="product-details">


                                        <div class="caption">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>

                                            <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=362">Milano</a></h4>
                                            <div class="rating list-rate">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>
                                            <p class="desc">Şkaf-Vitrin 2 ədəd 1700x595x440 Komod 1410x1800x440 TV
                                                altlığı 1510x1380x440 Masa 780x1605(2000)x895..</p>

                                            <p class="price">
                                                1650 <span class="manat">M</span> </p>


                                            <div class="button-group">
                                                <button type="button" class="addtocart" onclick="cart.add('362', '1');"><i
                                                        class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                        at</span></button>
                                                <button type="button" class="wishlist" data-toggle="tooltip" title=""
                                                    onclick="wishlist.add('362');" data-original-title="Arzu siyahısına əlavə et"><i
                                                        class="fa fa-heart"></i></button>
                                                <button type="button" class="compare" data-toggle="tooltip" title=""
                                                    onclick="compare.add('362');" data-original-title="Müqayisə et"><i
                                                        class="fa fa-exchange"></i></button>
                                                <div class="quickview-button" data-toggle="tooltip" title=""
                                                    data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=362"><i
                                                            class="fa fa-eye" aria-hidden="true"></i></a></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <div class="product-block product-thumb">
                                <div class="product-block-inner">

                                    <div class="image">
                                        <a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=108">
                                            <img src="http://masalmebel.az/image/cache/catalog/qonaq dəsti/masalmebel_030-cr-215x161.jpg"
                                                title="Mimoza" alt="Mimoza" class="img-responsive"></a>


                                    </div>

                                    <div class="product-details">


                                        <div class="caption">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>

                                            <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=108">Mimoza</a></h4>
                                            <div class="rating list-rate">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>
                                            <p class="desc">Şkaf-Vitrin 2 ədəd. 1680x600x460Komod. 1450x1670x460TV
                                                altlığı. 1600x1380x460Masa. 780x1605(2000)x89..</p>

                                            <p class="price">
                                                2300 <span class="manat">M</span> </p>


                                            <div class="button-group">
                                                <button type="button" class="addtocart" onclick="cart.add('108', '1');"><i
                                                        class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                        at</span></button>
                                                <button type="button" class="wishlist" data-toggle="tooltip" title=""
                                                    onclick="wishlist.add('108');" data-original-title="Arzu siyahısına əlavə et"><i
                                                        class="fa fa-heart"></i></button>
                                                <button type="button" class="compare" data-toggle="tooltip" title=""
                                                    onclick="compare.add('108');" data-original-title="Müqayisə et"><i
                                                        class="fa fa-exchange"></i></button>
                                                <div class="quickview-button" data-toggle="tooltip" title=""
                                                    data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=108"><i
                                                            class="fa fa-eye" aria-hidden="true"></i></a></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <div class="product-block product-thumb">
                                <div class="product-block-inner">

                                    <div class="image">
                                        <a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=360">
                                            <img src="http://masalmebel.az/image/cache/catalog/qonaq_otagi/qonaq007-cr-215x161.jpg"
                                                title="Prestij " alt="Prestij " class="img-responsive reg-image">
                                            <img class="img-responsive hover-image" src="http://masalmebel.az/image/cache/catalog/belarusiya_yeni/Prestij_ID360(2)-cr-215x161.JPG"
                                                title="Prestij " alt="Prestij ">
                                        </a>


                                    </div>

                                    <div class="product-details">


                                        <div class="caption">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>

                                            <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=360">Prestij
                                                </a></h4>
                                            <div class="rating list-rate">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>
                                            <p class="desc">Şkaf-vitrin 2008x3229x643 Masa &nbsp;780x1790(3110)x1000
                                                Stul 10 ədədMasa jurnal 513x1160x590..</p>

                                            <p class="price">
                                                6500 <span class="manat">M</span> </p>


                                            <div class="button-group">
                                                <button type="button" class="addtocart" onclick="cart.add('360', '1');"><i
                                                        class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                        at</span></button>
                                                <button type="button" class="wishlist" data-toggle="tooltip" title=""
                                                    onclick="wishlist.add('360');" data-original-title="Arzu siyahısına əlavə et"><i
                                                        class="fa fa-heart"></i></button>
                                                <button type="button" class="compare" data-toggle="tooltip" title=""
                                                    onclick="compare.add('360');" data-original-title="Müqayisə et"><i
                                                        class="fa fa-exchange"></i></button>
                                                <div class="quickview-button" data-toggle="tooltip" title=""
                                                    data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=360"><i
                                                            class="fa fa-eye" aria-hidden="true"></i></a></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <div class="product-block product-thumb">
                                <div class="product-block-inner">

                                    <div class="image">
                                        <a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=361">
                                            <img src="http://masalmebel.az/image/cache/catalog/belarusiya_yeni/Prestij2_ID361-cr-215x161.jpg"
                                                title="Prestij-2" alt="Prestij-2" class="img-responsive reg-image">
                                            <img class="img-responsive hover-image" src="http://masalmebel.az/image/cache/catalog/qonaq_otagi/qonaq009-cr-215x161.jpg"
                                                title="Prestij-2" alt="Prestij-2">
                                        </a>


                                    </div>

                                    <div class="product-details">


                                        <div class="caption">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>

                                            <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=361">Prestij-2</a></h4>
                                            <div class="rating list-rate">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>
                                            <p class="desc">Şkaf-vitrin 2 ədəd 2008х808х394 TV altlığı 561х1645x585Masa
                                                780x1790(3110)x1000 Stul 10 ədəd &nbsp;M..</p>

                                            <p class="price">
                                                6800 <span class="manat">M</span> </p>


                                            <div class="button-group">
                                                <button type="button" class="addtocart" onclick="cart.add('361', '1');"><i
                                                        class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                        at</span></button>
                                                <button type="button" class="wishlist" data-toggle="tooltip" title=""
                                                    onclick="wishlist.add('361');" data-original-title="Arzu siyahısına əlavə et"><i
                                                        class="fa fa-heart"></i></button>
                                                <button type="button" class="compare" data-toggle="tooltip" title=""
                                                    onclick="compare.add('361');" data-original-title="Müqayisə et"><i
                                                        class="fa fa-exchange"></i></button>
                                                <div class="quickview-button" data-toggle="tooltip" title=""
                                                    data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=361"><i
                                                            class="fa fa-eye" aria-hidden="true"></i></a></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <div class="product-block product-thumb">
                                <div class="product-block-inner">

                                    <div class="image">
                                        <a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=359">
                                            <img src="http://masalmebel.az/image/cache/catalog/belarusiya_yeni/Rivyera_ID359-cr-215x161.JPG"
                                                title="Rivyera" alt="Rivyera" class="img-responsive reg-image">
                                            <img class="img-responsive hover-image" src="http://masalmebel.az/image/cache/catalog/belarusiya_yeni/Rivyera_stul_ID359(2)-cr-215x161.JPG"
                                                title="Rivyera" alt="Rivyera">
                                        </a>


                                    </div>

                                    <div class="product-details">


                                        <div class="caption">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>

                                            <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=359">Rivyera</a></h4>
                                            <div class="rating list-rate">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>
                                            <p class="desc">Şkaf-Vitrin 2ədəd 2110х786х400Sütun 1263х1836х449Güzgü
                                                735х1868х78Masa 780х1790(3110)х1000 Stul 10 ə..</p>

                                            <p class="price">
                                                7600 <span class="manat">M</span> </p>


                                            <div class="button-group">
                                                <button type="button" class="addtocart" onclick="cart.add('359', '1');"><i
                                                        class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                        at</span></button>
                                                <button type="button" class="wishlist" data-toggle="tooltip" title=""
                                                    onclick="wishlist.add('359');" data-original-title="Arzu siyahısına əlavə et"><i
                                                        class="fa fa-heart"></i></button>
                                                <button type="button" class="compare" data-toggle="tooltip" title=""
                                                    onclick="compare.add('359');" data-original-title="Müqayisə et"><i
                                                        class="fa fa-exchange"></i></button>
                                                <div class="quickview-button" data-toggle="tooltip" title=""
                                                    data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=359"><i
                                                            class="fa fa-eye" aria-hidden="true"></i></a></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                            <div class="product-block product-thumb">
                                <div class="product-block-inner">

                                    <div class="image">
                                        <a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=104">
                                            <img src="http://masalmebel.az/image/cache/catalog/qonaq dəsti/masalmebel_022-cr-215x161.jpg"
                                                title="Roza" alt="Roza" class="img-responsive"></a>


                                    </div>

                                    <div class="product-details">


                                        <div class="caption">
                                            <div class="rating">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>

                                            <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=87&amp;product_id=104">Roza</a></h4>
                                            <div class="rating list-rate">
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                            </div>
                                            <p class="desc">Şkaf-Vitrin 1680x600x460Komod. 1450x1670x460TV altlığı.
                                                1600x1380x460Masa. 780x1605(2000)x895Stul 6 ..</p>

                                            <p class="price">
                                                1800 <span class="manat">M</span> </p>


                                            <div class="button-group">
                                                <button type="button" class="addtocart" onclick="cart.add('104', '1');"><i
                                                        class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                        at</span></button>
                                                <button type="button" class="wishlist" data-toggle="tooltip" title=""
                                                    onclick="wishlist.add('104');" data-original-title="Arzu siyahısına əlavə et"><i
                                                        class="fa fa-heart"></i></button>
                                                <button type="button" class="compare" data-toggle="tooltip" title=""
                                                    onclick="compare.add('104');" data-original-title="Müqayisə et"><i
                                                        class="fa fa-exchange"></i></button>
                                                <div class="quickview-button" data-toggle="tooltip" title=""
                                                    data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=104"><i
                                                            class="fa fa-eye" aria-hidden="true"></i></a></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-wrapper">
                        <div class="col-sm-6 text-left page-link">
                            <ul class="pagination">
                                <li class="active"><span>1</span></li>
                                <li><a href="http://masalmebel.az/index.php?route=product/category&amp;path=87&amp;page=2">2</a></li>
                                <li><a href="http://masalmebel.az/index.php?route=product/category&amp;path=87&amp;page=2">&gt;</a></li>
                                <li><a href="http://masalmebel.az/index.php?route=product/category&amp;path=87&amp;page=2">&gt;|</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 text-right page-result">Göstərilir: 1 . 15 -ə 20 -dən (2 səhifə)</div>
                    </div>
            </div>
            <span class="featured_default_width" style="display:none; visibility:hidden"></span>
            {# <div id="banner2" class="single-banner">
                <div class="item">
                    <a href="#"><img src="http://masalmebel.az/image/cache/catalog/uzun_baner-950x122.jpg" alt="Banner orta uzun"
                            class="img-responsive" /></a>
                </div>
            </div>
            <script type="text/javascript">
                <!--
                $('.bannercarousel').owlCarousel({
                    items: 1,
                    autoPlay: 3000,
                    singleItem: true,
                    navigation: false,
                    pagination: true,
                    transitionStyle: 'fade'
                });
                -->
            </script> #}
            {# <div id="carousel-0" class="banners-slider-carousel">
                <div class="customNavigation">
                    <a class="prev fa"></a>
                    <a class="next fa"></a>
                </div>
                <div class="product-carousel" id="module-0-carousel">
                    <div class="slider-item">
                        <div class="product-block">
                            <div class="product-block-inner">
                                <img src="http://masalmebel.az/image/cache/catalog/left-banner1-90x86.jpg" alt="Manufacturers" /></div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="product-block">
                            <div class="product-block-inner">
                                <img src="http://masalmebel.az/image/cache/catalog/b5-90x86.jpg" alt="Manufacturers5" /></div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="product-block">
                            <div class="product-block-inner">
                                <img src="http://masalmebel.az/image/cache/catalog/b4-90x86.jpg" alt="Manufacturers4" /></div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="product-block">
                            <div class="product-block-inner">
                                <img src="http://masalmebel.az/image/cache/catalog/b3-90x86.jpg" alt="Manufacturers3" /></div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="product-block">
                            <div class="product-block-inner">
                                <img src="http://masalmebel.az/image/cache/catalog/b2-90x86.jpg" alt="Manufacturers2" /></div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="product-block">
                            <div class="product-block-inner">
                                <img src="http://masalmebel.az/image/cache/catalog/b1-90x86.jpg" alt="Manufacturers1" /></div>
                        </div>
                    </div>
                </div>
            </div> #}
            <span class="module_default_width" style="display:none; visibility:hidden"></span>
        </div>
    </div>
</div>

{% endblock %}