{% extends "default/index.html.twig" %}

{% block body %}
<div class="container ">

    <div class="row">
        <div class="col-sm-3">
            {# left menu #}
            {% include 'default/components/left_menu.html.twig' %}
        </div>
        <div id="" class="col-sm-9">
            <ul class="breadcrumb">
                <li><a href="http://masalmebel.az/index.php?route=common/home"><i class="fa fa-home"></i></a></li>
                <li><a href="http://masalmebel.az/index.php?route=product/category&amp;path=88">Mətbəx mebeli</a></li>
            </ul>
            <h2 class="page-title">Mətbəx mebeli</h2>

            <div class="category_filter">
                <div class="col-md-4 btn-list-grid">
                    <div class="btn-group">
                        <button type="button" id="grid-view" class="btn btn-default grid active" data-toggle="tooltip"
                            title="" data-original-title="Cədvəl"><i class="fa fa-th"></i></button>
                        <button type="button" id="list-view" class="btn btn-default list" data-toggle="tooltip" title=""
                            data-original-title="Siyahı"><i class="fa fa-th-list"></i></button>
                    </div>
                </div>

            </div>

            <div class="row cat_prod">
                <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="product-block product-thumb">
                        <div class="product-block-inner">

                            <div class="image">
                                <a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=295&amp;sort=pd.name&amp;order=DESC&amp;limit=15">
                                    <img src="http://masalmebel.az/image/cache/catalog/Metbex_mebeli/metbex001-cr-215x161.jpg"
                                        title="Mətbəx mebeli" alt="Mətbəx mebeli" class="img-responsive"></a>


                            </div>

                            <div class="product-details">


                                <div class="caption">
                                    <div class="rating">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>

                                    <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=295&amp;sort=pd.name&amp;order=DESC&amp;limit=15">Mətbəx
                                            mebeli</a></h4>
                                    <div class="rating list-rate">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>
                                    <p class="desc">..</p>

                                    <p class="price">
                                        0 <span class="manat">M</span> </p>


                                    <div class="button-group">
                                        <button type="button" class="addtocart" onclick="cart.add('295', '1');"><i
                                                class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                at</span></button>
                                        <button type="button" class="wishlist" data-toggle="tooltip" title="" onclick="wishlist.add('295');"
                                            data-original-title="Arzu siyahısına əlavə et"><i class="fa fa-heart"></i></button>
                                        <button type="button" class="compare" data-toggle="tooltip" title="" onclick="compare.add('295');"
                                            data-original-title="Müqayisə et"><i class="fa fa-exchange"></i></button>
                                        <div class="quickview-button" data-toggle="tooltip" title=""
                                            data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=295"><i
                                                    class="fa fa-eye" aria-hidden="true"></i></a></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="product-block product-thumb">
                        <div class="product-block-inner">

                            <div class="image">
                                <a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=296&amp;sort=pd.name&amp;order=DESC&amp;limit=15">
                                    <img src="http://masalmebel.az/image/cache/catalog/Metbex_mebeli/metbex002-cr-215x161.jpg"
                                        title="Mətbəx mebeli" alt="Mətbəx mebeli" class="img-responsive"></a>


                            </div>

                            <div class="product-details">


                                <div class="caption">
                                    <div class="rating">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>

                                    <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=296&amp;sort=pd.name&amp;order=DESC&amp;limit=15">Mətbəx
                                            mebeli</a></h4>
                                    <div class="rating list-rate">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>
                                    <p class="desc">..</p>

                                    <p class="price">
                                        0 <span class="manat">M</span> </p>


                                    <div class="button-group">
                                        <button type="button" class="addtocart" onclick="cart.add('296', '1');"><i
                                                class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                at</span></button>
                                        <button type="button" class="wishlist" data-toggle="tooltip" title="" onclick="wishlist.add('296');"
                                            data-original-title="Arzu siyahısına əlavə et"><i class="fa fa-heart"></i></button>
                                        <button type="button" class="compare" data-toggle="tooltip" title="" onclick="compare.add('296');"
                                            data-original-title="Müqayisə et"><i class="fa fa-exchange"></i></button>
                                        <div class="quickview-button" data-toggle="tooltip" title=""
                                            data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=296"><i
                                                    class="fa fa-eye" aria-hidden="true"></i></a></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="product-block product-thumb">
                        <div class="product-block-inner">

                            <div class="image">
                                <a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=297&amp;sort=pd.name&amp;order=DESC&amp;limit=15">
                                    <img src="http://masalmebel.az/image/cache/catalog/Metbex_mebeli/metbex003-cr-215x161.jpg"
                                        title="Mətbəx mebeli" alt="Mətbəx mebeli" class="img-responsive"></a>


                            </div>

                            <div class="product-details">


                                <div class="caption">
                                    <div class="rating">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>

                                    <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=297&amp;sort=pd.name&amp;order=DESC&amp;limit=15">Mətbəx
                                            mebeli</a></h4>
                                    <div class="rating list-rate">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>
                                    <p class="desc">..</p>

                                    <p class="price">
                                        0 <span class="manat">M</span> </p>


                                    <div class="button-group">
                                        <button type="button" class="addtocart" onclick="cart.add('297', '1');"><i
                                                class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                at</span></button>
                                        <button type="button" class="wishlist" data-toggle="tooltip" title="" onclick="wishlist.add('297');"
                                            data-original-title="Arzu siyahısına əlavə et"><i class="fa fa-heart"></i></button>
                                        <button type="button" class="compare" data-toggle="tooltip" title="" onclick="compare.add('297');"
                                            data-original-title="Müqayisə et"><i class="fa fa-exchange"></i></button>
                                        <div class="quickview-button" data-toggle="tooltip" title=""
                                            data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=297"><i
                                                    class="fa fa-eye" aria-hidden="true"></i></a></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="product-block product-thumb">
                        <div class="product-block-inner">

                            <div class="image">
                                <a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=298&amp;sort=pd.name&amp;order=DESC&amp;limit=15">
                                    <img src="http://masalmebel.az/image/cache/catalog/Metbex_mebeli/metbex004-cr-215x161.jpg"
                                        title="Mətbəx dəsti" alt="Mətbəx dəsti" class="img-responsive"></a>


                            </div>

                            <div class="product-details">


                                <div class="caption">
                                    <div class="rating">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>

                                    <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=298&amp;sort=pd.name&amp;order=DESC&amp;limit=15">Mətbəx
                                            dəsti</a></h4>
                                    <div class="rating list-rate">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>
                                    <p class="desc">..</p>

                                    <p class="price">
                                        550 <span class="manat">M</span> </p>


                                    <div class="button-group">
                                        <button type="button" class="addtocart" onclick="cart.add('298', '1');"><i
                                                class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                at</span></button>
                                        <button type="button" class="wishlist" data-toggle="tooltip" title="" onclick="wishlist.add('298');"
                                            data-original-title="Arzu siyahısına əlavə et"><i class="fa fa-heart"></i></button>
                                        <button type="button" class="compare" data-toggle="tooltip" title="" onclick="compare.add('298');"
                                            data-original-title="Müqayisə et"><i class="fa fa-exchange"></i></button>
                                        <div class="quickview-button" data-toggle="tooltip" title=""
                                            data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=298"><i
                                                    class="fa fa-eye" aria-hidden="true"></i></a></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="product-block product-thumb">
                        <div class="product-block-inner">

                            <div class="image">
                                <a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=300&amp;sort=pd.name&amp;order=DESC&amp;limit=15">
                                    <img src="http://masalmebel.az/image/cache/catalog/Metbex_mebeli/metbex006-cr-215x161.jpg"
                                        title="Masa və taburetlər" alt="Masa və taburetlər" class="img-responsive"></a>


                            </div>

                            <div class="product-details">


                                <div class="caption">
                                    <div class="rating">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>

                                    <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=300&amp;sort=pd.name&amp;order=DESC&amp;limit=15">Masa
                                            və taburetlər</a></h4>
                                    <div class="rating list-rate">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>
                                    <p class="desc">..</p>

                                    <p class="price">
                                        100 <span class="manat">M</span> </p>


                                    <div class="button-group">
                                        <button type="button" class="addtocart" onclick="cart.add('300', '1');"><i
                                                class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                at</span></button>
                                        <button type="button" class="wishlist" data-toggle="tooltip" title="" onclick="wishlist.add('300');"
                                            data-original-title="Arzu siyahısına əlavə et"><i class="fa fa-heart"></i></button>
                                        <button type="button" class="compare" data-toggle="tooltip" title="" onclick="compare.add('300');"
                                            data-original-title="Müqayisə et"><i class="fa fa-exchange"></i></button>
                                        <div class="quickview-button" data-toggle="tooltip" title=""
                                            data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=300"><i
                                                    class="fa fa-eye" aria-hidden="true"></i></a></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="product-block product-thumb">
                        <div class="product-block-inner">

                            <div class="image">
                                <a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=302&amp;sort=pd.name&amp;order=DESC&amp;limit=15">
                                    <img src="http://masalmebel.az/image/cache/catalog/Metbex_mebeli/metbex009-cr-215x161.jpg"
                                        title="Masa və stullar" alt="Masa və stullar" class="img-responsive"></a>


                            </div>

                            <div class="product-details">


                                <div class="caption">
                                    <div class="rating">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>

                                    <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=302&amp;sort=pd.name&amp;order=DESC&amp;limit=15">Masa
                                            və stullar</a></h4>
                                    <div class="rating list-rate">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>
                                    <p class="desc">..</p>

                                    <p class="price">
                                        370 <span class="manat">M</span> </p>


                                    <div class="button-group">
                                        <button type="button" class="addtocart" onclick="cart.add('302', '1');"><i
                                                class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                at</span></button>
                                        <button type="button" class="wishlist" data-toggle="tooltip" title="" onclick="wishlist.add('302');"
                                            data-original-title="Arzu siyahısına əlavə et"><i class="fa fa-heart"></i></button>
                                        <button type="button" class="compare" data-toggle="tooltip" title="" onclick="compare.add('302');"
                                            data-original-title="Müqayisə et"><i class="fa fa-exchange"></i></button>
                                        <div class="quickview-button" data-toggle="tooltip" title=""
                                            data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=302"><i
                                                    class="fa fa-eye" aria-hidden="true"></i></a></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="product-block product-thumb">
                        <div class="product-block-inner">

                            <div class="image">
                                <a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=303&amp;sort=pd.name&amp;order=DESC&amp;limit=15">
                                    <img src="http://masalmebel.az/image/cache/catalog/Metbex_mebeli/metbex010-cr-215x161.jpg"
                                        title="Masa və stullar" alt="Masa və stullar" class="img-responsive"></a>


                            </div>

                            <div class="product-details">


                                <div class="caption">
                                    <div class="rating">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>

                                    <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=303&amp;sort=pd.name&amp;order=DESC&amp;limit=15">Masa
                                            və stullar</a></h4>
                                    <div class="rating list-rate">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>
                                    <p class="desc">..</p>

                                    <p class="price">
                                        160 <span class="manat">M</span> </p>


                                    <div class="button-group">
                                        <button type="button" class="addtocart" onclick="cart.add('303', '1');"><i
                                                class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                at</span></button>
                                        <button type="button" class="wishlist" data-toggle="tooltip" title="" onclick="wishlist.add('303');"
                                            data-original-title="Arzu siyahısına əlavə et"><i class="fa fa-heart"></i></button>
                                        <button type="button" class="compare" data-toggle="tooltip" title="" onclick="compare.add('303');"
                                            data-original-title="Müqayisə et"><i class="fa fa-exchange"></i></button>
                                        <div class="quickview-button" data-toggle="tooltip" title=""
                                            data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=303"><i
                                                    class="fa fa-eye" aria-hidden="true"></i></a></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="product-block product-thumb">
                        <div class="product-block-inner">

                            <div class="image">
                                <a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=301&amp;sort=pd.name&amp;order=DESC&amp;limit=15">
                                    <img src="http://masalmebel.az/image/cache/catalog/Metbex_mebeli/metbex007-cr-215x161.jpg"
                                        title="Masa və stullar" alt="Masa və stullar" class="img-responsive reg-image">
                                    <img class="img-responsive hover-image" src="http://masalmebel.az/image/cache/catalog/Metbex_mebeli/metbex008-cr-215x161.jpg"
                                        title="Masa və stullar" alt="Masa və stullar">
                                </a>


                            </div>

                            <div class="product-details">


                                <div class="caption">
                                    <div class="rating">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>

                                    <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=301&amp;sort=pd.name&amp;order=DESC&amp;limit=15">Masa
                                            və stullar</a></h4>
                                    <div class="rating list-rate">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>
                                    <p class="desc">..</p>

                                    <p class="price">
                                        725 <span class="manat">M</span> </p>


                                    <div class="button-group">
                                        <button type="button" class="addtocart" onclick="cart.add('301', '1');"><i
                                                class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                at</span></button>
                                        <button type="button" class="wishlist" data-toggle="tooltip" title="" onclick="wishlist.add('301');"
                                            data-original-title="Arzu siyahısına əlavə et"><i class="fa fa-heart"></i></button>
                                        <button type="button" class="compare" data-toggle="tooltip" title="" onclick="compare.add('301');"
                                            data-original-title="Müqayisə et"><i class="fa fa-exchange"></i></button>
                                        <div class="quickview-button" data-toggle="tooltip" title=""
                                            data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=301"><i
                                                    class="fa fa-eye" aria-hidden="true"></i></a></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="product-block product-thumb">
                        <div class="product-block-inner">

                            <div class="image">
                                <a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=299&amp;sort=pd.name&amp;order=DESC&amp;limit=15">
                                    <img src="http://masalmebel.az/image/cache/catalog/Metbex_mebeli/metbex005-cr-215x161.jpg"
                                        title="Masa" alt="Masa" class="img-responsive"></a>


                            </div>

                            <div class="product-details">


                                <div class="caption">
                                    <div class="rating">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>

                                    <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=299&amp;sort=pd.name&amp;order=DESC&amp;limit=15">Masa</a></h4>
                                    <div class="rating list-rate">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>
                                    <p class="desc">..</p>

                                    <p class="price">
                                        100 <span class="manat">M</span> </p>


                                    <div class="button-group">
                                        <button type="button" class="addtocart" onclick="cart.add('299', '1');"><i
                                                class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                at</span></button>
                                        <button type="button" class="wishlist" data-toggle="tooltip" title="" onclick="wishlist.add('299');"
                                            data-original-title="Arzu siyahısına əlavə et"><i class="fa fa-heart"></i></button>
                                        <button type="button" class="compare" data-toggle="tooltip" title="" onclick="compare.add('299');"
                                            data-original-title="Müqayisə et"><i class="fa fa-exchange"></i></button>
                                        <div class="quickview-button" data-toggle="tooltip" title=""
                                            data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=299"><i
                                                    class="fa fa-eye" aria-hidden="true"></i></a></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="product-block product-thumb">
                        <div class="product-block-inner">

                            <div class="image">
                                <a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=305&amp;sort=pd.name&amp;order=DESC&amp;limit=15">
                                    <img src="http://masalmebel.az/image/cache/catalog/Metbex_mebeli/metbex012-cr-215x161.jpg"
                                        title="Divan künc" alt="Divan künc" class="img-responsive"></a>


                            </div>

                            <div class="product-details">


                                <div class="caption">
                                    <div class="rating">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>

                                    <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=305&amp;sort=pd.name&amp;order=DESC&amp;limit=15">Divan
                                            künc</a></h4>
                                    <div class="rating list-rate">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>
                                    <p class="desc">..</p>

                                    <p class="price">
                                        500 <span class="manat">M</span> </p>


                                    <div class="button-group">
                                        <button type="button" class="addtocart" onclick="cart.add('305', '1');"><i
                                                class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                at</span></button>
                                        <button type="button" class="wishlist" data-toggle="tooltip" title="" onclick="wishlist.add('305');"
                                            data-original-title="Arzu siyahısına əlavə et"><i class="fa fa-heart"></i></button>
                                        <button type="button" class="compare" data-toggle="tooltip" title="" onclick="compare.add('305');"
                                            data-original-title="Müqayisə et"><i class="fa fa-exchange"></i></button>
                                        <div class="quickview-button" data-toggle="tooltip" title=""
                                            data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=305"><i
                                                    class="fa fa-eye" aria-hidden="true"></i></a></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-layout product-grid col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="product-block product-thumb">
                        <div class="product-block-inner">

                            <div class="image">
                                <a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=304&amp;sort=pd.name&amp;order=DESC&amp;limit=15">
                                    <img src="http://masalmebel.az/image/cache/catalog/Metbex_mebeli/metbex011-cr-215x161.jpg"
                                        title="Divan" alt="Divan" class="img-responsive"></a>


                            </div>

                            <div class="product-details">


                                <div class="caption">
                                    <div class="rating">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>

                                    <h4><a href="http://masalmebel.az/index.php?route=product/product&amp;path=88&amp;product_id=304&amp;sort=pd.name&amp;order=DESC&amp;limit=15">Divan</a></h4>
                                    <div class="rating list-rate">
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
                                    </div>
                                    <p class="desc">..</p>

                                    <p class="price">
                                        165 <span class="manat">M</span> </p>


                                    <div class="button-group">
                                        <button type="button" class="addtocart" onclick="cart.add('304', '1');"><i
                                                class="fa fa-shopping-cart"></i><span class="hidden-xs hidden-sm hidden-md">Səbətə
                                                at</span></button>
                                        <button type="button" class="wishlist" data-toggle="tooltip" title="" onclick="wishlist.add('304');"
                                            data-original-title="Arzu siyahısına əlavə et"><i class="fa fa-heart"></i></button>
                                        <button type="button" class="compare" data-toggle="tooltip" title="" onclick="compare.add('304');"
                                            data-original-title="Müqayisə et"><i class="fa fa-exchange"></i></button>
                                        <div class="quickview-button" data-toggle="tooltip" title=""
                                            data-original-title="quick_view"> <a class="quickbox" href="http://masalmebel.az/index.php?route=product/quick_view&amp;product_id=304"><i
                                                    class="fa fa-eye" aria-hidden="true"></i></a></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination-wrapper">
                <div class="col-sm-6 text-left page-link">
                    <ul class="pagination">
                        <li class="active"><span>1</span></li>
                        <li><a href="http://masalmebel.az/index.php?route=product/category&amp;path=97&amp;page=2">2</a></li>
                        <li><a href="http://masalmebel.az/index.php?route=product/category&amp;path=97&amp;page=3">3</a></li>
                        <li><a href="http://masalmebel.az/index.php?route=product/category&amp;path=97&amp;page=4">4</a></li>
                        <li><a href="http://masalmebel.az/index.php?route=product/category&amp;path=97&amp;page=5">5</a></li>
                        <li><a href="http://masalmebel.az/index.php?route=product/category&amp;path=97&amp;page=2">&gt;</a></li>
                        <li><a href="http://masalmebel.az/index.php?route=product/category&amp;path=97&amp;page=5">&gt;|</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 text-right page-result">Göstərilir: 1 . 11 -ə 11 -dən (1 səhifə)</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}