{% extends "default/index.html.twig" %}

{% block body %}
<div class="container">


    <div class="row">
        <div class="col-sm-3">
            {# left menu #}
            {% include 'default/components/left_menu.html.twig' %}
        </div>
        <div id="" class="productpage col-sm-9">
            <ul class="breadcrumb">
                <li><a href="http://masalmebel.az/index.php?route=common/home"><i class="fa fa-home"></i></a></li>
                <li><a href="http://masalmebel.az/index.php?route=product/product&amp;product_id=422">Prestij2</a></li>
            </ul>
            <h2 class="page-title">Prestij2</h2>
            <div class="row">


                <div class="col-sm-6 product-left">
                    <div class="product-info">



                        <div class="left product-image thumbnails">

                            <!-- Megnor Cloud-Zoom Image Effect Start -->
                            <div class="image"><a class="thumbnail elevatezoom-gallery" href="/image/catalog/belarusiya_yeni/Prestij 2.jpg"><img
                                        id="tmzoom" src="http://masalmebel.az/image/cache/catalog/belarusiya_yeni/Prestij 2-460x345.jpg"
                                        data-zoom-image="/image/catalog/belarusiya_yeni/Prestij 2.jpg" title="Prestij2"
                                        alt="Prestij2"></a></div>


                            <!-- Megnor Cloud-Zoom Image Effect End-->
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 product-right">
                    <h3 class="product-title">Prestij2</h3>

                    {# <div class="rating-wrapper">
                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-1x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-1x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-1x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-1x"></i></span>
                        <span class="fa fa-stack"><i class="fa fa-star off fa-stack-1x"></i></span>
                        <a class="review-count" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">0
                            şərh</a><a class="write-review" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"><i
                                class="fa fa-pencil"></i> Şərh yaz</a>
                    </div> #}

                    <ul class="list-unstyled attr">
                        <li><span>Model:</span> Prestij (tozağacı, qızılağac)</li>
                        <li><span>Mövcudluq:</span> Anbarda</li>
                    </ul>
                    <ul class="list-unstyled price">
                        <li>
                            <h3 class="product-price">5850 <span class="manat">M</span></h3>
                        </li>
                    </ul>


                    <script type="text/javascript" src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                    <script type="text/javascript" src="https://yastatic.net/share2/share.js"></script>

                </div>
                <div class="col-sm-12" id="tabs_info">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-description" data-toggle="tab" aria-expanded="false">Açıqlama</a></li>
                        {# <li class="active"><a href="#tab-review" data-toggle="tab" aria-expanded="true">Şərhlər (0)</a></li> #}
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-description">
                            <p>Dolab 2057x1614x673<br></p>
                            <p>Komod 929x1021x473</p>
                            <p>Yataq 847x1702(1600)x2133</p>
                            <p>Tumba 486x576x363</p>
                            <p>Güzgü 580х1083х93</p>
                        </div>
                        {# <div class="tab-pane active" id="tab-review">
                            <form class="form-horizontal" id="form-review">
                                <div id="review">
                                    <p>Bu məhsul üçün şərh yazılmayıb.</p>
                                </div>
                                <h3>Şərh yaz</h3>
                                <div class="form-group required">
                                    <div class="col-sm-12">
                                        <label class="control-label" for="input-name">Adınız</label>
                                        <input type="text" name="name" value="" id="input-name" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <div class="col-sm-12">
                                        <label class="control-label" for="input-review">Şərh</label>
                                        <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                                        <div class="help-block"><span class="text-danger">Qeyd:</span> HTML etiketləri
                                            işləmir!</div>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <div class="col-sm-12">
                                        <label class="control-label">Reytinq</label>
                                        &nbsp;&nbsp;&nbsp; Pis&nbsp;
                                        <input type="radio" name="rating" value="1">
                                        &nbsp;
                                        <input type="radio" name="rating" value="2">
                                        &nbsp;
                                        <input type="radio" name="rating" value="3">
                                        &nbsp;
                                        <input type="radio" name="rating" value="4">
                                        &nbsp;
                                        <input type="radio" name="rating" value="5">
                                        &nbsp;Yaxşı</div>
                                </div>

                                <div class="buttons clearfix">
                                    <div class="pull-right">
                                        <button type="button" id="button-review" data-loading-text="Yüklənir..." class="btn btn-primary">Davam
                                            et</button>
                                    </div>
                                </div>
                            </form>
                        </div> #}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}