<div class="catgory-left">
    <div class="box category-left-box megnorcategory">
        <div class="box-content">
            <ul id="nav-one" class="dropmenu">
                <li class="top_level"><a href="http://masalmebel.az/index.php?route=product/category&amp;path=85">Yataq otağı</a>
                <li class="top_level"><a href="http://masalmebel.az/index.php?route=product/category&amp;path=87">Qonaq otağı</a>
                <li class="top_level"><a href="http://masalmebel.az/index.php?route=product/category&amp;path=98">Yumşaq mebel</a>
                <li class="top_level"><a href="http://masalmebel.az/index.php?route=product/category&amp;path=88">Mətbəx mebeli</a>
                <li class="top_level"><a href="http://masalmebel.az/index.php?route=product/category&amp;path=99">Masa və stullar</a>
                <li class="top_level"><a href="http://masalmebel.az/index.php?route=product/category&amp;path=97">Məktəb mebelləri</a>
                <li class="top_level"><a href="http://masalmebel.az/index.php?route=product/category&amp;path=100">Baxça mebeli</a>
                <li class="top_level"><a href="http://masalmebel.az/index.php?route=product/category&amp;path=101">Ofis mebeli</a>
                <li class="top_level"><a href="http://masalmebel.az/index.php?route=product/category&amp;path=96">Digər mebellər</a>
            </ul>
        </div>
    </div>
</div>