{% extends 'default/index.html.twig' %}

{% block body %}
<div class="container">

    <div class="row">
        <aside id="column-left" class="col-sm-3 hidden-xs">
            <div class="box category-left-box megnorcategory">
                <div class="box-content">
                    <ul id="nav-one" class="dropmenu">
                        <li class="top_level"><a href="http://masalmebel.az/index.php?route=product/category&amp;path=85">Yataq
                                otağı</a>
                        </li>
                        <li class="top_level"><a href="http://masalmebel.az/index.php?route=product/category&amp;path=87">Qonaq
                                otağı</a>
                        </li>
                        <li class="top_level"><a href="http://masalmebel.az/index.php?route=product/category&amp;path=98">Yumşaq
                                mebel</a>
                        </li>
                        <li class="top_level"><a href="http://masalmebel.az/index.php?route=product/category&amp;path=88">Mətbəx
                                mebeli</a>
                        </li>
                        <li class="top_level"><a href="http://masalmebel.az/index.php?route=product/category&amp;path=99">Masa
                                və stullar</a>
                        </li>
                        <li class="top_level"><a href="http://masalmebel.az/index.php?route=product/category&amp;path=97">Məktəb
                                mebelləri</a>
                        </li>
                        <li class="top_level"><a href="http://masalmebel.az/index.php?route=product/category&amp;path=100">Baxça
                                mebeli</a>
                        </li>
                        <li class="top_level"><a href="http://masalmebel.az/index.php?route=product/category&amp;path=101">Ofis
                                mebeli</a>
                        </li>
                        <li class="top_level"><a href="http://masalmebel.az/index.php?route=product/category&amp;path=96">Digər
                                mebellər</a>

                        </li>
                    </ul>
                </div>
            </div>


        </aside>
        <div id="content" class="col-sm-9">
            <ul class="breadcrumb">
                <li><a href="http://masalmebel.az/index.php?route=common/home"><i class="fa fa-home"></i></a></li>
                <li><a href="http://masalmebel.az/index.php?route=information/information&amp;information_id=4">Haqqımızda</a></li>
            </ul>
            <h1 class="page-title">Haqqımızda</h1>
            <p>"Masal
                Mebel" Azərbaycan Respublikası Standartlaşma, Metrologiya və Patent üzrə
                Dövlət Komitəsi tərəfinədən verilmiş
                20141828 saylı Əmtəə Nişanı ilə qeydə alınmışdır.</p>
            <p>"Masal
                Mebel" yerli istehsalla yanaşı Türkiyədə, Belorusiyada istehsal olunan
                keyfiyyətli mebelləri Azərbaycana gətirir
                və onların satışını təşkil edir. İstehsal etdiyimiz bütün növ mebellər
                standartlara cavab verir, ekoloji təmiz məhsullardan hazirlanır .&nbsp; İstehsal dəzgahları vaxtaşırı
                müqayisəli
                yoxlamalardan (kalibirlənmə) keçirilir.</p>
            <p>Missiyamız — İnsanlara gündəlik həyatda rahatlıq təmin
                edən, tərz və zövqlərinə uyğun mebel təqdim etməkdir.
            </p>
            <p>Bakı - Sumqayıt yolunun 18-ci km-də Ceyaranbatan qəsəbəsi
                ərazisində, Əlaqə: (+99412) 344- 57 -00
            </p>
            <p>Masallı şəhəri, Azərbaycan Prospektində, Əlaqə:
                (+99425) &nbsp;215 -56- 46</p>
        </div>
    </div>
</div>
{% endblock %}